In [76]:
import pandas as pd

In [77]:
df = pd.read_csv('Earnings.csv')

In [78]:
df.head(5)

,TIME,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belgium,"21,273.34","21,880.46","22,396.96","23,405.30","24,323.59","24,873.45","25,519.86","26,287.51","26,609.37",...,"26,953.59","27,574.37","28,238.77","29,240.96","30,188.71","30,539.81","31,063.95","32,889.21","35,438.98","36,672.38"
2,Bulgaria,:,:,:,"2,605.86","2,951.37","3,202.34","3,396.45","3,598.45","3,798.06",...,"4,339.15","4,689.05","5,132.74","5,447.10","6,093.02","6,612.77","7,456.68","8,569.19","9,890.39","11,073.90"
3,Czechia,"5,587.37","6,394.53","6,962.34","8,345.91","8,240.09","8,832.96","9,257.22","9,311.44","8,973.79",...,"9,017.25","9,446.75","10,263.30","11,256.33","11,992.68","11,974.40","13,969.74","15,703.05","17,265.60","17,290.99"
4,Denmark,"26,440.34","27,243.49","28,469.57","29,595.89","30,962.07","32,349.16","33,153.43","33,617.32","33,873.44",...,"34,689.46","35,021.65","35,558.92","36,307.24","37,133.59","37,878.85","39,315.61","40,710.04","42,357.77","43,912.73"

In [79]:
df.head(15)

,TIME,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belgium,"21,273.34","21,880.46","22,396.96","23,405.30","24,323.59","24,873.45","25,519.86","26,287.51","26,609.37",...,"26,953.59","27,574.37","28,238.77","29,240.96","30,188.71","30,539.81","31,063.95","32,889.21","35,438.98","36,672.38"
2,Bulgaria,:,:,:,"2,605.86","2,951.37","3,202.34","3,396.45","3,598.45","3,798.06",...,"4,339.15","4,689.05","5,132.74","5,447.10","6,093.02","6,612.77","7,456.68","8,569.19","9,890.39","11,073.90"
3,Czechia,"5,587.37","6,394.53","6,962.34","8,345.91","8,240.09","8,832.96","9,257.22","9,311.44","8,973.79",...,"9,017.25","9,446.75","10,263.30","11,256.33","11,992.68","11,974.40","13,969.74","15,703.05","17,265.60","17,290.99"
4,Denmark,"26,440.34","27,243.49","28,469.57","29,595.89","30,962.07","32,349.16","33,153.43","33,617.32","33,873.44",...,"34,689.46","35,021.65","35,558.92","36,307.24","37,133.59","37,878.85","39,315.61","40,710.04","42,357.77","43,912.73"
5,Germany,"22,363.10","22,504.85","23,194.68","23,841.50","23,870.65","25,374.06","26,088.04","26,729.62","27,171.02",...,"28,410.71","28,986.32","29,468.63","30,419.87","31,486.26","31,292.95","32,850.20","35,596.73","37,908.41","39,594.13"
6,Estonia,"5,056.23","6,059.12","7,268.34","8,249.98","7,729.45","7,820.19","8,324.26","8,812.65","9,445.70",...,"10,638.42","11,454.71","12,233.44","13,437.69","14,169.60","14,444.62","15,300.44","16,472.09","18,141.98","19,022.58"
7,Ireland,"29,375.79","30,879.33","32,646.18","34,033.21","32,441.06","32,138.69","31,159.23","31,541.73","31,531.28",...,"32,344.52","33,346.95","33,976.58","35,126.52","38,252.20","38,842.71","39,930.32","41,062.91","43,896.82","46,207.80"
8,Greece,"16,572.85","17,630.36","17,790.09","17,897.36","18,510.86","18,567.44","17,545.08","17,117.04","15,810.81",...,"15,601.94","14,979.79","14,863.67","14,850.01","15,112.49","14,247.43","15,407.96","16,819.51","18,022.41","18,709.02"
9,Spain,"16,432.64","16,832.53","17,461.33","18,765.37","19,380.50","19,399.72","19,891.57","19,975.06","20,061.89",...,"20,844.88","20,827.52","20,948.65","21,198.42","21,481.84","20,632.83","21,668.52","22,577.60","23,597.08","24,570.88"
10,France,"21,709.55","22,675.17","23,415.09","24,249.73","24,627.90","25,031.80","25,576.25","25,978.92","26,269.14",...,"26,958.75","26,880.70","27,022.48","27,662.94","28,153.78","27,472.33","28,649.83","30,241.44","31,573.51","32,353.63"
11,Croatia,:,:,:,:,:,:,:,:,"7,937.17",...,"8,296.67","8,443.99","8,788.64","9,168.35","9,428.49","9,815.98","10,382.66","11,224.52","12,601.07","13,809.88"
12,Italy,"17,601.62","17,984.55","18,272.59","18,917.81","19,269.56","19,705.17","19,983.62","20,327.68","20,656.60",...,"21,051.62","21,092.75","21,138.65","21,294.82","21,500.18","22,507.69","23,511.64","23,839.29","24,592.51","24,797.02"
13,Cyprus,"15,591.75","16,657.98","17,572.13",:,:,:,:,:,:,...,:,:,"19,531.22","20,026.89","20,282.76","20,056.80","20,459.03","22,006.36","23,476.75","24,230.00"
14,Latvia,"2,702.25","3,371.65","4,431.28","5,443.86","5,424.98","5,068.61","5,286.45","5,462.67","5,776.88",...,"6,814.57","7,212.23","7,772.59","8,474.82","9,144.05","9,786.84","11,229.49","12,147.46","13,418.00","14,550.22"

In [80]:
newdf=df.dropna()

In [81]:
newdf.head(10)

,TIME,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
1,Belgium,"21,273.34","21,880.46","22,396.96","23,405.30","24,323.59","24,873.45","25,519.86","26,287.51","26,609.37",...,"26,953.59","27,574.37","28,238.77","29,240.96","30,188.71","30,539.81","31,063.95","32,889.21","35,438.98","36,672.38"
2,Bulgaria,:,:,:,"2,605.86","2,951.37","3,202.34","3,396.45","3,598.45","3,798.06",...,"4,339.15","4,689.05","5,132.74","5,447.10","6,093.02","6,612.77","7,456.68","8,569.19","9,890.39","11,073.90"
3,Czechia,"5,587.37","6,394.53","6,962.34","8,345.91","8,240.09","8,832.96","9,257.22","9,311.44","8,973.79",...,"9,017.25","9,446.75","10,263.30","11,256.33","11,992.68","11,974.40","13,969.74","15,703.05","17,265.60","17,290.99"
4,Denmark,"26,440.34","27,243.49","28,469.57","29,595.89","30,962.07","32,349.16","33,153.43","33,617.32","33,873.44",...,"34,689.46","35,021.65","35,558.92","36,307.24","37,133.59","37,878.85","39,315.61","40,710.04","42,357.77","43,912.73"
5,Germany,"22,363.10","22,504.85","23,194.68","23,841.50","23,870.65","25,374.06","26,088.04","26,729.62","27,171.02",...,"28,410.71","28,986.32","29,468.63","30,419.87","31,486.26","31,292.95","32,850.20","35,596.73","37,908.41","39,594.13"
6,Estonia,"5,056.23","6,059.12","7,268.34","8,249.98","7,729.45","7,820.19","8,324.26","8,812.65","9,445.70",...,"10,638.42","11,454.71","12,233.44","13,437.69","14,169.60","14,444.62","15,300.44","16,472.09","18,141.98","19,022.58"
7,Ireland,"29,375.79","30,879.33","32,646.18","34,033.21","32,441.06","32,138.69","31,159.23","31,541.73","31,531.28",...,"32,344.52","33,346.95","33,976.58","35,126.52","38,252.20","38,842.71","39,930.32","41,062.91","43,896.82","46,207.80"
8,Greece,"16,572.85","17,630.36","17,790.09","17,897.36","18,510.86","18,567.44","17,545.08","17,117.04","15,810.81",...,"15,601.94","14,979.79","14,863.67","14,850.01","15,112.49","14,247.43","15,407.96","16,819.51","18,022.41","18,709.02"
9,Spain,"16,432.64","16,832.53","17,461.33","18,765.37","19,380.50","19,399.72","19,891.57","19,975.06","20,061.89",...,"20,844.88","20,827.52","20,948.65","21,198.42","21,481.84","20,632.83","21,668.52","22,577.60","23,597.08","24,570.88"
10,France,"21,709.55","22,675.17","23,415.09","24,249.73","24,627.90","25,031.80","25,576.25","25,978.92","26,269.14",...,"26,958.75","26,880.70","27,022.48","27,662.94","28,153.78","27,472.33","28,649.83","30,241.44","31,573.51","32,353.63"

In [82]:
newdf.columns.tolist()

['TIME',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024']

In [83]:
newdf= newdf.drop(columns = [col for col in df.columns if isinstance(col, int) and (col <2010 or col >2021)])

In [84]:
print(list(newdf.columns))

['TIME', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

In [85]:
newdf.head()

,TIME,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
1,Belgium,"21,273.34","21,880.46","22,396.96","23,405.30","24,323.59","24,873.45","25,519.86","26,287.51","26,609.37",...,"26,953.59","27,574.37","28,238.77","29,240.96","30,188.71","30,539.81","31,063.95","32,889.21","35,438.98","36,672.38"
2,Bulgaria,:,:,:,"2,605.86","2,951.37","3,202.34","3,396.45","3,598.45","3,798.06",...,"4,339.15","4,689.05","5,132.74","5,447.10","6,093.02","6,612.77","7,456.68","8,569.19","9,890.39","11,073.90"
3,Czechia,"5,587.37","6,394.53","6,962.34","8,345.91","8,240.09","8,832.96","9,257.22","9,311.44","8,973.79",...,"9,017.25","9,446.75","10,263.30","11,256.33","11,992.68","11,974.40","13,969.74","15,703.05","17,265.60","17,290.99"
4,Denmark,"26,440.34","27,243.49","28,469.57","29,595.89","30,962.07","32,349.16","33,153.43","33,617.32","33,873.44",...,"34,689.46","35,021.65","35,558.92","36,307.24","37,133.59","37,878.85","39,315.61","40,710.04","42,357.77","43,912.73"
5,Germany,"22,363.10","22,504.85","23,194.68","23,841.50","23,870.65","25,374.06","26,088.04","26,729.62","27,171.02",...,"28,410.71","28,986.32","29,468.63","30,419.87","31,486.26","31,292.95","32,850.20","35,596.73","37,908.41","39,594.13"

In [86]:
newdf = newdf.drop(columns = ['2005', '2006', '2007', '2008', '2009', '2022', '2023', '2024'], axis=1)

In [75]:
newdf

,TIME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
1,Belgium,"24,873.45","25,519.86","26,287.51","26,609.37","26,775.94","26,953.59","27,574.37","28,238.77","29,240.96","30,188.71","30,539.81","31,063.95","32,889.21","35,438.98","36,672.38"
2,Bulgaria,"3,202.34","3,396.45","3,598.45","3,798.06","4,033.73","4,339.15","4,689.05","5,132.74","5,447.10","6,093.02","6,612.77","7,456.68","8,569.19","9,890.39","11,073.90"
3,Czechia,"8,832.96","9,257.22","9,311.44","8,973.79","8,694.95","9,017.25","9,446.75","10,263.30","11,256.33","11,992.68","11,974.40","13,969.74","15,703.05","17,265.60","17,290.99"
4,Denmark,"32,349.16","33,153.43","33,617.32","33,873.44","34,330.38","34,689.46","35,021.65","35,558.92","36,307.24","37,133.59","37,878.85","39,315.61","40,710.04","42,357.77","43,912.73"
5,Germany,"25,374.06","26,088.04","26,729.62","27,171.02","27,791.42","28,410.71","28,986.32","29,468.63","30,419.87","31,486.26","31,292.95","32,850.20","35,596.73","37,908.41","39,594.13"
6,Estonia,"7,820.19","8,324.26","8,812.65","9,445.70","9,914.95","10,638.42","11,454.71","12,233.44","13,437.69","14,169.60","14,444.62","15,300.44","16,472.09","18,141.98","19,022.58"
7,Ireland,"32,138.69","31,159.23","31,541.73","31,531.28","31,687.39","32,344.52","33,346.95","33,976.58","35,126.52","38,252.20","38,842.71","39,930.32","41,062.91","43,896.82","46,207.80"
8,Greece,"18,567.44","17,545.08","17,117.04","15,810.81","16,070.17","15,601.94","14,979.79","14,863.67","14,850.01","15,112.49","14,247.43","15,407.96","16,819.51","18,022.41","18,709.02"
9,Spain,"19,399.72","19,891.57","19,975.06","20,061.89","20,169.47","20,844.88","20,827.52","20,948.65","21,198.42","21,481.84","20,632.83","21,668.52","22,577.60","23,597.08","24,570.88"
10,France,"25,031.80","25,576.25","25,978.92","26,269.14","26,578.46","26,958.75","26,880.70","27,022.48","27,662.94","28,153.78","27,472.33","28,649.83","30,241.44","31,573.51","32,353.63"
11,Croatia,:,:,:,"7,937.17","7,970.40","8,296.67","8,443.99","8,788.64","9,168.35","9,428.49","9,815.98","10,382.66","11,224.52","12,601.07","13,809.88"
12,Italy,"19,705.17","19,983.62","20,327.68","20,656.60","20,930.61","21,051.62","21,092.75","21,138.65","21,294.82","21,500.18","22,507.69","23,511.64","23,839.29","24,592.51","24,797.02"
13,Cyprus,:,:,:,:,"19,096.46",:,:,"19,531.22","20,026.89","20,282.76","20,056.80","20,459.03","22,006.36","23,476.75","24,230.00"
14,Latvia,"5,068.61","5,286.45","5,462.67","5,776.88","6,264.34","6,814.57","7,212.23","7,772.59","8,474.82","9,144.05","9,786.84","11,229.49","12,147.46","13,418.00","14,550.22"
15,Lithuania,"5,245.02","5,401.30","5,635.73","5,954.89","6,284.47","6,651.85","7,217.25","7,897.69","8,690.66","9,794.92","10,787.57","11,798.21","13,297.64","14,783.41","15,909.06"
16,Luxembourg,"36,167.09","36,278.25","37,354.34","37,792.02","38,443.48","38,630.79","38,935.73","41,340.39","42,063.48","42,650.77","44,374.32","44,934.82","46,884.89","48,797.50","50,409.61"
17,Hungary,"6,256.57","6,146.32","6,369.22","6,475.08","6,478.42","6,703.57","7,138.72","8,023.72","8,586.94","9,390.54","9,549.21","10,074.96","10,667.45","12,719.75","13,883.04"
18,Malta,"14,473.93","15,642.97","15,999.95","16,306.00","16,010.00","16,337.95","16,926.20","17,305.15","17,890.15","19,107.19","19,652.90","18,292.50","19,784.81","20,555.05","22,859.04"
19,Netherlands,"30,901.41","31,612.20","31,732.71","32,992.17","33,723.85","34,551.50","34,975.70","35,426.38","35,838.18","37,402.24","39,142.87","40,660.61","42,311.50","45,156.38","47,892.48"
20,Austria,"25,770.16","26,375.67","26,893.06","27,520.54","27,965.34","28,524.14","30,601.53","31,083.14","31,640.93","32,325.12","33,032.37","33,712.20","36,075.61","38,375.91","41,747.41"
21,Poland,"6,896.23","7,085.75","7,235.50","7,466.23","7,991.17","8,275.99","8,200.43","8,975.57","9,618.59","10,225.78","11,376.35","11,134.57","12,503.72","14,487.18","17,002.36"
22,Portugal,"12,189.88","12,008.16","12,253.01","11,729.30","11,663.77","11,535.88","11,704.24","11,938.30","12,401.75","12,823.40","12,934.79","13,502.54","14,213.56","15,301.09","16,946.92"
23,Romania,"3,872.44","4,081.39","4,000.73","4,340.64","4,610.25","5,117.82","5,518.93","6,049.96","6,669.59","7,230.37","7,629.63","8,069.82","9,083.98","10,525.08","12,654.52"
24,Slovenia,"11,284.13","11,567.85","11,707.47","11,824.18","11,980.57","12,062.45","12,202.35","12,487.25","12,902.38","13,298.17","13,896.79","14,601.22","15,668.40","17,113.88","17,864.75"
25,Slovakia,"7,493.69","7,642.75","7,797.27","7,936.58","8,250.32","8,426.75","8,654.34","8,961.03","9,464.61","9,975.02","10,250.84","10,982.50","11,846.85","13,027.56","14,069.86"
26,Finland,"27,803.54","28,421.92","29,246.92","29,654.15","29,641.38","29,918.29","30,306.38","30,805.85","31,400.22","32,135.14","33,191.98","33,906.14","35,001.16","36,266.13","36,876.61"
27,Sweden,"29,043.96","31,319.63","33,473.42","34,473.44","33,923.28","33,389.85","33,711.94","33,923.05","32,688.36","32,427.59","33,366.68","35,485.73","35,188.72","34,207.06","36,147.03"
28,Iceland,"23,506.13","24,971.24","27,158.87","29,098.70","32,941.08","37,027.37","44,042.96","50,456.07","48,794.28","47,254.37","44,185.83","47,374.82","53,001.86","54,539.33","57,573.09"
29,Norway,"41,684.47","44,490.18","47,783.08","47,595.99","45,903.97","44,451.46","43,662.09","44,443.89","44,692.89","45,219.15","42,534.89","46,935.39","49,209.04","45,795.10","47,231.87"

In [94]:
x = ['Coratia', 'Cyprus'] 
newdf=newdf.drop(index=[11,13])

In [95]:
newdf

,TIME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Belgium,"24,873.45","25,519.86","26,287.51","26,609.37","26,775.94","26,953.59","27,574.37","28,238.77","29,240.96","30,188.71","30,539.81","31,063.95"
2,Bulgaria,"3,202.34","3,396.45","3,598.45","3,798.06","4,033.73","4,339.15","4,689.05","5,132.74","5,447.10","6,093.02","6,612.77","7,456.68"
3,Czechia,"8,832.96","9,257.22","9,311.44","8,973.79","8,694.95","9,017.25","9,446.75","10,263.30","11,256.33","11,992.68","11,974.40","13,969.74"
4,Denmark,"32,349.16","33,153.43","33,617.32","33,873.44","34,330.38","34,689.46","35,021.65","35,558.92","36,307.24","37,133.59","37,878.85","39,315.61"
5,Germany,"25,374.06","26,088.04","26,729.62","27,171.02","27,791.42","28,410.71","28,986.32","29,468.63","30,419.87","31,486.26","31,292.95","32,850.20"
6,Estonia,"7,820.19","8,324.26","8,812.65","9,445.70","9,914.95","10,638.42","11,454.71","12,233.44","13,437.69","14,169.60","14,444.62","15,300.44"
7,Ireland,"32,138.69","31,159.23","31,541.73","31,531.28","31,687.39","32,344.52","33,346.95","33,976.58","35,126.52","38,252.20","38,842.71","39,930.32"
8,Greece,"18,567.44","17,545.08","17,117.04","15,810.81","16,070.17","15,601.94","14,979.79","14,863.67","14,850.01","15,112.49","14,247.43","15,407.96"
9,Spain,"19,399.72","19,891.57","19,975.06","20,061.89","20,169.47","20,844.88","20,827.52","20,948.65","21,198.42","21,481.84","20,632.83","21,668.52"
10,France,"25,031.80","25,576.25","25,978.92","26,269.14","26,578.46","26,958.75","26,880.70","27,022.48","27,662.94","28,153.78","27,472.33","28,649.83"
12,Italy,"19,705.17","19,983.62","20,327.68","20,656.60","20,930.61","21,051.62","21,092.75","21,138.65","21,294.82","21,500.18","22,507.69","23,511.64"
14,Latvia,"5,068.61","5,286.45","5,462.67","5,776.88","6,264.34","6,814.57","7,212.23","7,772.59","8,474.82","9,144.05","9,786.84","11,229.49"
15,Lithuania,"5,245.02","5,401.30","5,635.73","5,954.89","6,284.47","6,651.85","7,217.25","7,897.69","8,690.66","9,794.92","10,787.57","11,798.21"
16,Luxembourg,"36,167.09","36,278.25","37,354.34","37,792.02","38,443.48","38,630.79","38,935.73","41,340.39","42,063.48","42,650.77","44,374.32","44,934.82"
17,Hungary,"6,256.57","6,146.32","6,369.22","6,475.08","6,478.42","6,703.57","7,138.72","8,023.72","8,586.94","9,390.54","9,549.21","10,074.96"
18,Malta,"14,473.93","15,642.97","15,999.95","16,306.00","16,010.00","16,337.95","16,926.20","17,305.15","17,890.15","19,107.19","19,652.90","18,292.50"
19,Netherlands,"30,901.41","31,612.20","31,732.71","32,992.17","33,723.85","34,551.50","34,975.70","35,426.38","35,838.18","37,402.24","39,142.87","40,660.61"
20,Austria,"25,770.16","26,375.67","26,893.06","27,520.54","27,965.34","28,524.14","30,601.53","31,083.14","31,640.93","32,325.12","33,032.37","33,712.20"
21,Poland,"6,896.23","7,085.75","7,235.50","7,466.23","7,991.17","8,275.99","8,200.43","8,975.57","9,618.59","10,225.78","11,376.35","11,134.57"
22,Portugal,"12,189.88","12,008.16","12,253.01","11,729.30","11,663.77","11,535.88","11,704.24","11,938.30","12,401.75","12,823.40","12,934.79","13,502.54"
23,Romania,"3,872.44","4,081.39","4,000.73","4,340.64","4,610.25","5,117.82","5,518.93","6,049.96","6,669.59","7,230.37","7,629.63","8,069.82"
24,Slovenia,"11,284.13","11,567.85","11,707.47","11,824.18","11,980.57","12,062.45","12,202.35","12,487.25","12,902.38","13,298.17","13,896.79","14,601.22"
25,Slovakia,"7,493.69","7,642.75","7,797.27","7,936.58","8,250.32","8,426.75","8,654.34","8,961.03","9,464.61","9,975.02","10,250.84","10,982.50"
26,Finland,"27,803.54","28,421.92","29,246.92","29,654.15","29,641.38","29,918.29","30,306.38","30,805.85","31,400.22","32,135.14","33,191.98","33,906.14"
27,Sweden,"29,043.96","31,319.63","33,473.42","34,473.44","33,923.28","33,389.85","33,711.94","33,923.05","32,688.36","32,427.59","33,366.68","35,485.73"
28,Iceland,"23,506.13","24,971.24","27,158.87","29,098.70","32,941.08","37,027.37","44,042.96","50,456.07","48,794.28","47,254.37","44,185.83","47,374.82"
29,Norway,"41,684.47","44,490.18","47,783.08","47,595.99","45,903.97","44,451.46","43,662.09","44,443.89","44,692.89","45,219.15","42,534.89","46,935.39"

In [96]:
newdf = newdf.reset_index.(drop=True)

In [97]:
newdf

,TIME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Belgium,"24,873.45","25,519.86","26,287.51","26,609.37","26,775.94","26,953.59","27,574.37","28,238.77","29,240.96","30,188.71","30,539.81","31,063.95"
1,Bulgaria,"3,202.34","3,396.45","3,598.45","3,798.06","4,033.73","4,339.15","4,689.05","5,132.74","5,447.10","6,093.02","6,612.77","7,456.68"
2,Czechia,"8,832.96","9,257.22","9,311.44","8,973.79","8,694.95","9,017.25","9,446.75","10,263.30","11,256.33","11,992.68","11,974.40","13,969.74"
3,Denmark,"32,349.16","33,153.43","33,617.32","33,873.44","34,330.38","34,689.46","35,021.65","35,558.92","36,307.24","37,133.59","37,878.85","39,315.61"
4,Germany,"25,374.06","26,088.04","26,729.62","27,171.02","27,791.42","28,410.71","28,986.32","29,468.63","30,419.87","31,486.26","31,292.95","32,850.20"
5,Estonia,"7,820.19","8,324.26","8,812.65","9,445.70","9,914.95","10,638.42","11,454.71","12,233.44","13,437.69","14,169.60","14,444.62","15,300.44"
6,Ireland,"32,138.69","31,159.23","31,541.73","31,531.28","31,687.39","32,344.52","33,346.95","33,976.58","35,126.52","38,252.20","38,842.71","39,930.32"
7,Greece,"18,567.44","17,545.08","17,117.04","15,810.81","16,070.17","15,601.94","14,979.79","14,863.67","14,850.01","15,112.49","14,247.43","15,407.96"
8,Spain,"19,399.72","19,891.57","19,975.06","20,061.89","20,169.47","20,844.88","20,827.52","20,948.65","21,198.42","21,481.84","20,632.83","21,668.52"
9,France,"25,031.80","25,576.25","25,978.92","26,269.14","26,578.46","26,958.75","26,880.70","27,022.48","27,662.94","28,153.78","27,472.33","28,649.83"
10,Italy,"19,705.17","19,983.62","20,327.68","20,656.60","20,930.61","21,051.62","21,092.75","21,138.65","21,294.82","21,500.18","22,507.69","23,511.64"
11,Latvia,"5,068.61","5,286.45","5,462.67","5,776.88","6,264.34","6,814.57","7,212.23","7,772.59","8,474.82","9,144.05","9,786.84","11,229.49"
12,Lithuania,"5,245.02","5,401.30","5,635.73","5,954.89","6,284.47","6,651.85","7,217.25","7,897.69","8,690.66","9,794.92","10,787.57","11,798.21"
13,Luxembourg,"36,167.09","36,278.25","37,354.34","37,792.02","38,443.48","38,630.79","38,935.73","41,340.39","42,063.48","42,650.77","44,374.32","44,934.82"
14,Hungary,"6,256.57","6,146.32","6,369.22","6,475.08","6,478.42","6,703.57","7,138.72","8,023.72","8,586.94","9,390.54","9,549.21","10,074.96"
15,Malta,"14,473.93","15,642.97","15,999.95","16,306.00","16,010.00","16,337.95","16,926.20","17,305.15","17,890.15","19,107.19","19,652.90","18,292.50"
16,Netherlands,"30,901.41","31,612.20","31,732.71","32,992.17","33,723.85","34,551.50","34,975.70","35,426.38","35,838.18","37,402.24","39,142.87","40,660.61"
17,Austria,"25,770.16","26,375.67","26,893.06","27,520.54","27,965.34","28,524.14","30,601.53","31,083.14","31,640.93","32,325.12","33,032.37","33,712.20"
18,Poland,"6,896.23","7,085.75","7,235.50","7,466.23","7,991.17","8,275.99","8,200.43","8,975.57","9,618.59","10,225.78","11,376.35","11,134.57"
19,Portugal,"12,189.88","12,008.16","12,253.01","11,729.30","11,663.77","11,535.88","11,704.24","11,938.30","12,401.75","12,823.40","12,934.79","13,502.54"
20,Romania,"3,872.44","4,081.39","4,000.73","4,340.64","4,610.25","5,117.82","5,518.93","6,049.96","6,669.59","7,230.37","7,629.63","8,069.82"
21,Slovenia,"11,284.13","11,567.85","11,707.47","11,824.18","11,980.57","12,062.45","12,202.35","12,487.25","12,902.38","13,298.17","13,896.79","14,601.22"
22,Slovakia,"7,493.69","7,642.75","7,797.27","7,936.58","8,250.32","8,426.75","8,654.34","8,961.03","9,464.61","9,975.02","10,250.84","10,982.50"
23,Finland,"27,803.54","28,421.92","29,246.92","29,654.15","29,641.38","29,918.29","30,306.38","30,805.85","31,400.22","32,135.14","33,191.98","33,906.14"
24,Sweden,"29,043.96","31,319.63","33,473.42","34,473.44","33,923.28","33,389.85","33,711.94","33,923.05","32,688.36","32,427.59","33,366.68","35,485.73"
25,Iceland,"23,506.13","24,971.24","27,158.87","29,098.70","32,941.08","37,027.37","44,042.96","50,456.07","48,794.28","47,254.37","44,185.83","47,374.82"
26,Norway,"41,684.47","44,490.18","47,783.08","47,595.99","45,903.97","44,451.46","43,662.09","44,443.89","44,692.89","45,219.15","42,534.89","46,935.39"

In [98]:
newdf.index = newdf.index + 1

In [99]:
newdf

,TIME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Belgium,"24,873.45","25,519.86","26,287.51","26,609.37","26,775.94","26,953.59","27,574.37","28,238.77","29,240.96","30,188.71","30,539.81","31,063.95"
2,Bulgaria,"3,202.34","3,396.45","3,598.45","3,798.06","4,033.73","4,339.15","4,689.05","5,132.74","5,447.10","6,093.02","6,612.77","7,456.68"
3,Czechia,"8,832.96","9,257.22","9,311.44","8,973.79","8,694.95","9,017.25","9,446.75","10,263.30","11,256.33","11,992.68","11,974.40","13,969.74"
4,Denmark,"32,349.16","33,153.43","33,617.32","33,873.44","34,330.38","34,689.46","35,021.65","35,558.92","36,307.24","37,133.59","37,878.85","39,315.61"
5,Germany,"25,374.06","26,088.04","26,729.62","27,171.02","27,791.42","28,410.71","28,986.32","29,468.63","30,419.87","31,486.26","31,292.95","32,850.20"
6,Estonia,"7,820.19","8,324.26","8,812.65","9,445.70","9,914.95","10,638.42","11,454.71","12,233.44","13,437.69","14,169.60","14,444.62","15,300.44"
7,Ireland,"32,138.69","31,159.23","31,541.73","31,531.28","31,687.39","32,344.52","33,346.95","33,976.58","35,126.52","38,252.20","38,842.71","39,930.32"
8,Greece,"18,567.44","17,545.08","17,117.04","15,810.81","16,070.17","15,601.94","14,979.79","14,863.67","14,850.01","15,112.49","14,247.43","15,407.96"
9,Spain,"19,399.72","19,891.57","19,975.06","20,061.89","20,169.47","20,844.88","20,827.52","20,948.65","21,198.42","21,481.84","20,632.83","21,668.52"
10,France,"25,031.80","25,576.25","25,978.92","26,269.14","26,578.46","26,958.75","26,880.70","27,022.48","27,662.94","28,153.78","27,472.33","28,649.83"
11,Italy,"19,705.17","19,983.62","20,327.68","20,656.60","20,930.61","21,051.62","21,092.75","21,138.65","21,294.82","21,500.18","22,507.69","23,511.64"
12,Latvia,"5,068.61","5,286.45","5,462.67","5,776.88","6,264.34","6,814.57","7,212.23","7,772.59","8,474.82","9,144.05","9,786.84","11,229.49"
13,Lithuania,"5,245.02","5,401.30","5,635.73","5,954.89","6,284.47","6,651.85","7,217.25","7,897.69","8,690.66","9,794.92","10,787.57","11,798.21"
14,Luxembourg,"36,167.09","36,278.25","37,354.34","37,792.02","38,443.48","38,630.79","38,935.73","41,340.39","42,063.48","42,650.77","44,374.32","44,934.82"
15,Hungary,"6,256.57","6,146.32","6,369.22","6,475.08","6,478.42","6,703.57","7,138.72","8,023.72","8,586.94","9,390.54","9,549.21","10,074.96"
16,Malta,"14,473.93","15,642.97","15,999.95","16,306.00","16,010.00","16,337.95","16,926.20","17,305.15","17,890.15","19,107.19","19,652.90","18,292.50"
17,Netherlands,"30,901.41","31,612.20","31,732.71","32,992.17","33,723.85","34,551.50","34,975.70","35,426.38","35,838.18","37,402.24","39,142.87","40,660.61"
18,Austria,"25,770.16","26,375.67","26,893.06","27,520.54","27,965.34","28,524.14","30,601.53","31,083.14","31,640.93","32,325.12","33,032.37","33,712.20"
19,Poland,"6,896.23","7,085.75","7,235.50","7,466.23","7,991.17","8,275.99","8,200.43","8,975.57","9,618.59","10,225.78","11,376.35","11,134.57"
20,Portugal,"12,189.88","12,008.16","12,253.01","11,729.30","11,663.77","11,535.88","11,704.24","11,938.30","12,401.75","12,823.40","12,934.79","13,502.54"
21,Romania,"3,872.44","4,081.39","4,000.73","4,340.64","4,610.25","5,117.82","5,518.93","6,049.96","6,669.59","7,230.37","7,629.63","8,069.82"
22,Slovenia,"11,284.13","11,567.85","11,707.47","11,824.18","11,980.57","12,062.45","12,202.35","12,487.25","12,902.38","13,298.17","13,896.79","14,601.22"
23,Slovakia,"7,493.69","7,642.75","7,797.27","7,936.58","8,250.32","8,426.75","8,654.34","8,961.03","9,464.61","9,975.02","10,250.84","10,982.50"
24,Finland,"27,803.54","28,421.92","29,246.92","29,654.15","29,641.38","29,918.29","30,306.38","30,805.85","31,400.22","32,135.14","33,191.98","33,906.14"
25,Sweden,"29,043.96","31,319.63","33,473.42","34,473.44","33,923.28","33,389.85","33,711.94","33,923.05","32,688.36","32,427.59","33,366.68","35,485.73"
26,Iceland,"23,506.13","24,971.24","27,158.87","29,098.70","32,941.08","37,027.37","44,042.96","50,456.07","48,794.28","47,254.37","44,185.83","47,374.82"
27,Norway,"41,684.47","44,490.18","47,783.08","47,595.99","45,903.97","44,451.46","43,662.09","44,443.89","44,692.89","45,219.15","42,534.89","46,935.39"