In [87]:
import pandas as pd 
!pip  install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [88]:
data1=pd.read_csv('new_house_price.csv', encoding='utf-8')
new_df=pd.DataFrame()

data1

,geo,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AT,Austria,NaN,NaN,NaN,NaN,NaN,76.80,81.60,87.57,92.10,95.33,100,108.53,114.26,119.64,126.60,136.31,153.26
1,BE,Belgium,72.49,79.56,85.76,89.54,89.12,91.92,95.61,97.75,98.90,98.35,100,102.64,106.37,109.42,113.78,118.60,127.06
2,BG,Bulgaria,80.09,91.86,118.42,147.97,117.79,105.81,99.98,98.07,95.92,97.29,100,107.02,116.30,123.96,131.42,137.41,149.33
3,CY,Cyprus,97.06,108.57,121.32,128.17,119.76,112.90,111.09,107.70,103.29,101.47,100,100.27,102.52,104.32,108.20,107.98,104.33
4,CZ,Czech,NaN,NaN,NaN,100.80,96.90,95.20,95.30,93.90,93.90,96.20,100,107.20,119.70,130.00,141.90,153.90,184.20
5,DE,Germany,83.30,83.00,81.20,82.30,83.00,83.90,86.80,89.80,92.60,95.50,100,107.50,114.10,121.70,128.70,138.70,154.70
6,EE,Estonia,59.01,88.22,106.54,96.29,60.47,63.90,69.32,74.37,82.29,93.58,100,104.75,110.51,117.07,125.27,132.79,152.78
7,ES,Spain,NaN,135.50,148.79,146.66,136.97,134.55,124.27,105.90,96.24,96.54,100,104.62,111.10,118.58,124.71,127.50,132.19
8,FI,Finland,76.25,81.56,86.37,87.06,88.31,93.88,96.87,99.21,100.35,100.00,100,101.29,102.39,103.34,103.77,105.60,110.45
9,FR,France,84.72,94.51,100.57,101.52,95.32,99.74,105.46,104.88,102.93,101.36,100,101.04,104.24,107.29,110.86,116.62,123.98
10,HR,Croatia,NaN,NaN,NaN,124.14,117.93,110.47,110.66,108.93,104.63,102.98,100,100.89,104.75,111.14,121.10,130.38,139.91
11,HU,Hungary,NaN,NaN,98.91,101.26,95.95,93.66,90.45,87.10,84.87,88.43,100,113.38,127.24,145.50,170.17,178.58,208.04
12,IE,Ireland,131.89,151.50,162.81,151.51,122.49,105.96,87.86,76.04,76.99,89.72,100,107.46,119.14,131.33,134.41,134.82,145.98
13,IS,Iceland,60.60,70.79,77.44,82.26,74.28,72.02,75.36,80.57,85.21,92.39,100,109.77,131.20,142.01,148.30,157.79,177.57
14,IT,Italy,NaN,NaN,NaN,NaN,NaN,118.10,119.70,116.70,109.10,104.00,100,100.30,99.20,98.60,98.50,100.40,103.00
15,LT,Lithuania,NaN,94.25,119.06,129.76,90.92,84.20,89.77,89.56,90.65,96.47,100,105.40,114.80,123.18,131.61,141.18,163.84
16,LU,Luxembourg,NaN,NaN,74.42,76.91,76.02,80.14,83.09,86.58,90.89,94.88,100,106.01,111.96,119.86,131.99,151.12,172.15
17,LV,Latvia,NaN,104.48,142.37,143.94,90.24,80.35,88.73,91.36,97.62,103.48,100,108.49,118.01,129.30,140.88,145.77,161.65
18,MT,Malta,58.43,70.04,84.75,94.14,90.07,91.04,89.80,92.54,92.16,94.51,100,105.45,111.03,117.45,124.65,128.86,135.44
19,NL,Netherlands,106.20,110.73,116.10,118.64,113.35,111.40,109.19,101.86,95.75,96.53,100,105.02,112.93,123.61,132.62,142.75,164.21
20,NO,Norway,54.24,61.66,69.43,68.69,69.99,75.77,81.95,87.48,91.24,93.74,100,107.88,113.75,115.53,120.18,126.11,137.66
21,PL,Poland,NaN,NaN,NaN,NaN,NaN,105.61,105.70,102.01,97.54,98.50,100,101.86,105.78,112.74,122.52,135.36,147.77
22,PT,Portugal,NaN,NaN,NaN,107.53,106.54,107.36,102.09,94.87,93.09,97.04,100,107.12,117.02,129.03,141.88,154.33,168.84
23,RO,Romania,NaN,NaN,NaN,NaN,129.28,119.54,104.83,99.51,99.26,97.22,100,105.95,112.36,118.62,122.69,128.44,134.09
24,SE,Sweden,52.04,58.46,65.74,66.47,68.57,73.97,75.87,76.83,80.79,88.40,100,108.24,115.43,114.35,117.19,122.11,134.46
25,SI,Slovenia,NaN,NaN,120.85,129.31,117.06,117.21,120.39,112.09,106.21,99.20,100,103.25,111.79,121.55,129.69,135.66,151.32
26,SK,Slovakia,NaN,75.99,98.00,115.55,100.82,96.78,95.33,92.75,93.59,94.91,100,106.70,112.99,121.32,132.39,145.06,154.33
27,TR,Turkey,NaN,NaN,NaN,NaN,NaN,58.11,62.14,68.03,75.79,86.11,100,113.27,124.83,133.40,140.64,175.50,245.40
28,UK,United Kingdom,78.96,85.10,93.54,89.41,81.44,86.15,84.88,85.20,87.39,94.40,100,106.99,111.86,115.53,116.67,NaN,NaN

In [89]:

# Check if it loaded correctly
print("Shape:", data1.shape)
print("Columns:", data1.columns.tolist())
print("\nFirst few rows:")
print(data1.head())

print(f"\nRows before dropna: {len(data1)}")

Shape: (29, 19)
Columns: ['geo', 'country', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

First few rows:
  geo   country   2005    2006    2007    2008    2009    2010    2011  \
0  AT   Austria    NaN     NaN     NaN     NaN     NaN   76.80   81.60
1  BE   Belgium  72.49   79.56   85.76   89.54   89.12   91.92   95.61
2  BG  Bulgaria  80.09   91.86  118.42  147.97  117.79  105.81   99.98
3  CY    Cyprus  97.06  108.57  121.32  128.17  119.76  112.90  111.09
4  CZ     Czech    NaN     NaN     NaN  100.80   96.90   95.20   95.30

     2012    2013    2014  2015    2016    2017    2018    2019    2020  \
0   87.57   92.10   95.33   100  108.53  114.26  119.64  126.60  136.31
1   97.75   98.90   98.35   100  102.64  106.37  109.42  113.78  118.60
2   98.07   95.92   97.29   100  107.02  116.30  123.96  131.42  137.41
3  107.70  103.29  101.47   100  100.27  102.52  104.32  108.20  107.98
4   93.90   93.90   96.20   100  107.20  119.70  130.00  141.90  153.90

     2021
0  153.26
1  127.06
2  149.33
3  104.33
4  184.20

Rows before dropna: 29

In [90]:
# Alternative way - using axis=1
print("Your columns:")
print(data1.columns.tolist())
data1 = data1.drop(['2005', '2006', '2007', '2008', '2009', '2010'], axis=1)

Your columns:
['geo', 'country', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [91]:

data1 = data1[data1['country'] != 'United Kingdom']

In [110]:
#merge data1 and data
import pandas as pd
file_path = r'\Users\Administrator\Documents\inflation-house-price-for-eu-\Inflation-data______new.xlsx'
df = pd.read_excel(file_path, sheet_name=0)
df = df.drop(columns=[col for col in df.columns if isinstance(col, int) and (col < 2011 or col > 2021)])

# Displaying column names after keeping only years from 2010 to 2021
print("\n  Columns after keeping only years 2010 - 2021 ===")
print(list(df.columns))
countries_to_keep = [
    "Belgium", "Bulgaria", "Czechia", "Denmark", "Germany", "Estonia", "Ireland",
    "Greece", "Spain", "France", "Italy", "Latvia",
    "Lithuania", "Luxembourg", "Hungary", "Malta", "Netherlands", "Austria",
    "Poland", "Portugal", "Slovenia", "Slovakia", "Finland",
    "Sweden", "Iceland", "Norway"
]

# Filtrowanie tylko wybranych krajów
df = df[df["Country"].isin(countries_to_keep)]
print(df["Country"].unique())
df = df.reset_index(drop=True)
df_2= df.drop(columns=["Country Code", "IMF Country Code", "Indicator Type"])
df_2 = df_2.rename(columns={'Country':'country'})
df_2.columns

  Columns after keeping only years 2010 - 2021 ===
['Country Code', 'IMF Country Code', 'Country', 'Indicator Type', 'Series Name', 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
['Austria' 'Belgium' 'Bulgaria' 'Denmark' 'Estonia' 'Finland' 'France'
 'Germany' 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Latvia'
 'Lithuania' 'Luxembourg' 'Malta' 'Netherlands' 'Norway' 'Poland'
 'Portugal' 'Slovenia' 'Spain' 'Sweden']

Index([    'country', 'Series Name',          2011,          2012,
                2013,          2014,          2015,          2016,
                2017,          2018,          2019,          2020,
                2021],
      dtype='object')

In [ ]:
# merger_data = pd.merge(data1, df, 
#                       left_on='country', 
#                       right_on='Country', 
#                       how='inner',
#                       suffixes=('_house_price', '_inflation'))

# # Remove the duplicate Country column
# merger_data = merger_data.drop(columns=['Country'])

# merger_data = merger_data.rename(columns={
#     '2020': '2020_house_price',
#     'geo': 'geo_house_price'
#     # Add more renames as needed
# })

# print("Final columns:", merger_data.columns.tolist())

Final columns: ['geo_house_price', 'country', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020_house_price', '2021', 'Series Name', 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [ ]:
df = pd.read_csv('Earnings.csv')
# Drop unwanted year columns
newdf = df.drop(columns=['2005','2006','2007','2008','2009','2022','2023','2024'])
df.head()

,TIME,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belgium,"21,273.34","21,880.46","22,396.96","23,405.30","24,323.59","24,873.45","25,519.86","26,287.51","26,609.37",...,"26,953.59","27,574.37","28,238.77","29,240.96","30,188.71","30,539.81","31,063.95","32,889.21","35,438.98","36,672.38"
2,Bulgaria,:,:,:,"2,605.86","2,951.37","3,202.34","3,396.45","3,598.45","3,798.06",...,"4,339.15","4,689.05","5,132.74","5,447.10","6,093.02","6,612.77","7,456.68","8,569.19","9,890.39","11,073.90"
3,Czechia,"5,587.37","6,394.53","6,962.34","8,345.91","8,240.09","8,832.96","9,257.22","9,311.44","8,973.79",...,"9,017.25","9,446.75","10,263.30","11,256.33","11,992.68","11,974.40","13,969.74","15,703.05","17,265.60","17,290.99"
4,Denmark,"26,440.34","27,243.49","28,469.57","29,595.89","30,962.07","32,349.16","33,153.43","33,617.32","33,873.44",...,"34,689.46","35,021.65","35,558.92","36,307.24","37,133.59","37,878.85","39,315.61","40,710.04","42,357.77","43,912.73"

In [ ]:

newdf = newdf.reset_index(drop=True)
# Drop specific rows (indices 11 and 13)
newdf = newdf.drop(index=[11,13])

# Rename 'Time' column → 'country'
newdf = newdf.rename(columns={'TIME':'country'})

# Drop the first row
newdf_3= newdf.drop(index=0).reset_index(drop=True)

print(newdf_3.head())
newdf_3.columns

    country       2010       2011       2012       2013       2014       2015  \
0   Belgium  24,873.45  25,519.86  26,287.51  26,609.37  26,775.94  26,953.59
1  Bulgaria   3,202.34   3,396.45   3,598.45   3,798.06   4,033.73   4,339.15
2   Czechia   8,832.96   9,257.22   9,311.44   8,973.79   8,694.95   9,017.25
3   Denmark  32,349.16  33,153.43  33,617.32  33,873.44  34,330.38  34,689.46
4   Germany  25,374.06  26,088.04  26,729.62  27,171.02  27,791.42  28,410.71

        2016       2017       2018       2019       2020       2021
0  27,574.37  28,238.77  29,240.96  30,188.71  30,539.81  31,063.95
1   4,689.05   5,132.74   5,447.10   6,093.02   6,612.77   7,456.68
2   9,446.75  10,263.30  11,256.33  11,992.68  11,974.40  13,969.74
3  35,021.65  35,558.92  36,307.24  37,133.59  37,878.85  39,315.61
4  28,986.32  29,468.63  30,419.87  31,486.26  31,292.95  32,850.20

Index(['country', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [120]:
# Merge house price and inflation
merged = pd.merge(data1, df, on='country', how='inner', suffixes=('_house_price', '_inflation'))

# Rename columns explicitly if suffixes were not applied
merged = merged.rename(columns=lambda col: col + '_house_price' if col in data1.columns and col != 'country' else col)
merged = merged.rename(columns=lambda col: col + '_inflation' if col in df.columns and col != 'country' else col)

# Merge earnings
merged = pd.merge(merged, newdf_3, on='country', how='inner')

# Check final column names
print("✅ Final columns:", merged.columns.tolist())
print(merged.head())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [126]:

# Merge house price and inflation
merged = pd.merge(data1, df, on='country', how='inner', suffixes=('_house_price', '_inflation'))

# Merge earnings
merged = pd.merge(merged, newdf_3, on='country', how='inner')

# Rename columns
new_columns = []
for col in merged.columns:
    col_str = str(col)  # Ensure column name is a string
    if col_str.endswith('_x'):
        new_columns.append(col_str.replace('_x', '_house_price'))
    elif col_str.endswith('_y'):
        new_columns.append(col_str.replace('_y', '_inflation'))
    elif col_str.isdigit():  # Numeric columns (e.g., years)
        new_columns.append(f"{col_str}_earnings")
    else:
        new_columns.append(col_str)  # Keep other columns unchanged

merged.columns = new_columns

# Print final column names
print("✅ Final columns:", merged.columns.tolist())

print("✅ Final columns:", merged.columns.tolist())

✅ Final columns: ['geo', 'country', '2011_house_price', '2012_house_price', '2013_house_price', '2014_house_price', '2015_house_price', '2016_house_price', '2017_house_price', '2018_house_price', '2019_house_price', '2020_house_price', '2021_house_price', 'Country Code', 'IMF Country Code', 'Indicator Type', 'Series Name', '2011_earnings', '2012_earnings', '2013_earnings', '2014_earnings', '2015_earnings', '2016_earnings', '2017_earnings', '2018_earnings', '2019_earnings', '2020_earnings', '2021_earnings', '2010_earnings', '2011_inflation', '2012_inflation', '2013_inflation', '2014_inflation', '2015_inflation', '2016_inflation', '2017_inflation', '2018_inflation', '2019_inflation', '2020_inflation', '2021_inflation']
✅ Final columns: ['geo', 'country', '2011_house_price', '2012_house_price', '2013_house_price', '2014_house_price', '2015_house_price', '2016_house_price', '2017_house_price', '2018_house_price', '2019_house_price', '2020_house_price', '2021_house_price', 'Country Code', 'IMF Country Code', 'Indicator Type', 'Series Name', '2011_earnings', '2012_earnings', '2013_earnings', '2014_earnings', '2015_earnings', '2016_earnings', '2017_earnings', '2018_earnings', '2019_earnings', '2020_earnings', '2021_earnings', '2010_earnings', '2011_inflation', '2012_inflation', '2013_inflation', '2014_inflation', '2015_inflation', '2016_inflation', '2017_inflation', '2018_inflation', '2019_inflation', '2020_inflation', '2021_inflation']

In [107]:
print("data1 cols:", data1.columns.tolist())
print("df cols:", df_2.columns.tolist())
print("new_df cols:", newdf_3.columns.tolist())

data1 cols: ['geo', 'country', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
df cols: ['Country', 'Series Name', 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
new_df cols: ['country', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

patterns, distributions, and relationships
Descriptive statistics

From .describe():

Mean, median, std, min, max of house prices, earnings, and inflation per year.

In [131]:
merged.describe()

,2011_house_price,2012_house_price,2013_house_price,2014_house_price,2015_house_price,2016_house_price,2017_house_price,2018_house_price,2019_house_price,2020_house_price,...,2012_earnings,2013_earnings,2014_earnings,2015_earnings,2016_earnings,2017_earnings,2018_earnings,2019_earnings,2020_earnings,2021_earnings
count,22.000000,22.000000,22.000000,22.000000,22.0,22.000000,22.000000,22.000000,22.000000,22.000000,...,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,94.539091,93.324545,93.338182,96.147273,100.0,105.773636,113.115909,120.229091,127.713636,134.925909,...,2.036913,1.579591,1.410219,1.747118,1.108758,1.990203,2.498789,2.454123,1.487752,4.253953
std,15.034063,11.324231,8.014342,4.211250,0.0,3.205180,7.329502,11.137483,15.191476,17.321010,...,1.170627,1.000795,1.207767,2.161857,0.900871,1.184715,1.477371,1.320754,1.759317,3.566286
min,69.320000,74.370000,76.990000,88.400000,100.0,100.300000,99.200000,98.600000,98.500000,100.400000,...,-0.388496,-0.668561,-0.220708,-2.854445,-1.474620,0.521310,0.504303,-0.438000,-3.745405,0.538692
25%,84.017500,87.195000,90.710000,93.932500,100.0,103.592500,110.640000,114.645000,120.765000,126.457500,...,1.458058,0.982252,0.476222,0.813358,0.571799,1.092328,1.637339,1.673214,0.895883,2.032799
50%,90.125000,91.950000,92.845000,96.500000,100.0,105.730000,113.340000,119.750000,127.650000,135.510000,...,2.100193,1.611852,0.947978,1.234235,1.231000,1.614053,2.101279,2.286725,1.333163,2.951115
75%,104.617500,101.197500,97.600000,98.462500,100.0,107.785000,116.082500,123.872500,132.462500,142.357500,...,2.851387,2.217906,2.111470,2.256022,1.681737,2.787127,3.311799,3.101031,2.242837,6.135196
max,124.270000,116.700000,109.100000,104.000000,100.0,113.380000,131.200000,145.500000,170.170000,178.580000,...,4.023345,4.043194,4.141770,7.808600,2.538000,4.243128,6.651878,5.250007,5.422654,16.911350