In [2]:
import pandas as pd 
!pip  install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [3]:

data1=pd.read_csv('data/new_house_price.csv')
new_df=pd.DataFrame()

data1

,geo,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AT,Austria,NaN,NaN,NaN,NaN,NaN,76.80,81.60,87.57,92.10,95.33,100,108.53,114.26,119.64,126.60,136.31,153.26
1,BE,Belgium,72.49,79.56,85.76,89.54,89.12,91.92,95.61,97.75,98.90,98.35,100,102.64,106.37,109.42,113.78,118.60,127.06
2,BG,Bulgaria,80.09,91.86,118.42,147.97,117.79,105.81,99.98,98.07,95.92,97.29,100,107.02,116.30,123.96,131.42,137.41,149.33
3,CY,Cyprus,97.06,108.57,121.32,128.17,119.76,112.90,111.09,107.70,103.29,101.47,100,100.27,102.52,104.32,108.20,107.98,104.33
4,CZ,Czech,NaN,NaN,NaN,100.80,96.90,95.20,95.30,93.90,93.90,96.20,100,107.20,119.70,130.00,141.90,153.90,184.20
5,DE,Germany,83.30,83.00,81.20,82.30,83.00,83.90,86.80,89.80,92.60,95.50,100,107.50,114.10,121.70,128.70,138.70,154.70
6,EE,Estonia,59.01,88.22,106.54,96.29,60.47,63.90,69.32,74.37,82.29,93.58,100,104.75,110.51,117.07,125.27,132.79,152.78
7,ES,Spain,NaN,135.50,148.79,146.66,136.97,134.55,124.27,105.90,96.24,96.54,100,104.62,111.10,118.58,124.71,127.50,132.19
8,FI,Finland,76.25,81.56,86.37,87.06,88.31,93.88,96.87,99.21,100.35,100.00,100,101.29,102.39,103.34,103.77,105.60,110.45
9,FR,France,84.72,94.51,100.57,101.52,95.32,99.74,105.46,104.88,102.93,101.36,100,101.04,104.24,107.29,110.86,116.62,123.98
10,HR,Croatia,NaN,NaN,NaN,124.14,117.93,110.47,110.66,108.93,104.63,102.98,100,100.89,104.75,111.14,121.10,130.38,139.91
11,HU,Hungary,NaN,NaN,98.91,101.26,95.95,93.66,90.45,87.10,84.87,88.43,100,113.38,127.24,145.50,170.17,178.58,208.04
12,IE,Ireland,131.89,151.50,162.81,151.51,122.49,105.96,87.86,76.04,76.99,89.72,100,107.46,119.14,131.33,134.41,134.82,145.98
13,IS,Iceland,60.60,70.79,77.44,82.26,74.28,72.02,75.36,80.57,85.21,92.39,100,109.77,131.20,142.01,148.30,157.79,177.57
14,IT,Italy,NaN,NaN,NaN,NaN,NaN,118.10,119.70,116.70,109.10,104.00,100,100.30,99.20,98.60,98.50,100.40,103.00
15,LT,Lithuania,NaN,94.25,119.06,129.76,90.92,84.20,89.77,89.56,90.65,96.47,100,105.40,114.80,123.18,131.61,141.18,163.84
16,LU,Luxembourg,NaN,NaN,74.42,76.91,76.02,80.14,83.09,86.58,90.89,94.88,100,106.01,111.96,119.86,131.99,151.12,172.15
17,LV,Latvia,NaN,104.48,142.37,143.94,90.24,80.35,88.73,91.36,97.62,103.48,100,108.49,118.01,129.30,140.88,145.77,161.65
18,MT,Malta,58.43,70.04,84.75,94.14,90.07,91.04,89.80,92.54,92.16,94.51,100,105.45,111.03,117.45,124.65,128.86,135.44
19,NL,Netherlands,106.20,110.73,116.10,118.64,113.35,111.40,109.19,101.86,95.75,96.53,100,105.02,112.93,123.61,132.62,142.75,164.21
20,NO,Norway,54.24,61.66,69.43,68.69,69.99,75.77,81.95,87.48,91.24,93.74,100,107.88,113.75,115.53,120.18,126.11,137.66
21,PL,Poland,NaN,NaN,NaN,NaN,NaN,105.61,105.70,102.01,97.54,98.50,100,101.86,105.78,112.74,122.52,135.36,147.77
22,PT,Portugal,NaN,NaN,NaN,107.53,106.54,107.36,102.09,94.87,93.09,97.04,100,107.12,117.02,129.03,141.88,154.33,168.84
23,RO,Romania,NaN,NaN,NaN,NaN,129.28,119.54,104.83,99.51,99.26,97.22,100,105.95,112.36,118.62,122.69,128.44,134.09
24,SE,Sweden,52.04,58.46,65.74,66.47,68.57,73.97,75.87,76.83,80.79,88.40,100,108.24,115.43,114.35,117.19,122.11,134.46
25,SI,Slovenia,NaN,NaN,120.85,129.31,117.06,117.21,120.39,112.09,106.21,99.20,100,103.25,111.79,121.55,129.69,135.66,151.32
26,SK,Slovakia,NaN,75.99,98.00,115.55,100.82,96.78,95.33,92.75,93.59,94.91,100,106.70,112.99,121.32,132.39,145.06,154.33
27,TR,Turkey,NaN,NaN,NaN,NaN,NaN,58.11,62.14,68.03,75.79,86.11,100,113.27,124.83,133.40,140.64,175.50,245.40
28,UK,United Kingdom,78.96,85.10,93.54,89.41,81.44,86.15,84.88,85.20,87.39,94.40,100,106.99,111.86,115.53,116.67,NaN,NaN

In [4]:

# Reload your data
data1 = pd.read_csv('data/new_house_price.csv')

# Check if it loaded correctly
print("Shape:", data1.shape)
print("Columns:", data1.columns.tolist())
print("\nFirst few rows:")
print(data1.head())

print(f"\nRows before dropna: {len(data1)}")

Shape: (29, 19)
Columns: ['geo', 'country', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

First few rows:
  geo   country   2005    2006    2007    2008    2009    2010    2011  \
0  AT   Austria    NaN     NaN     NaN     NaN     NaN   76.80   81.60
1  BE   Belgium  72.49   79.56   85.76   89.54   89.12   91.92   95.61
2  BG  Bulgaria  80.09   91.86  118.42  147.97  117.79  105.81   99.98
3  CY    Cyprus  97.06  108.57  121.32  128.17  119.76  112.90  111.09
4  CZ     Czech    NaN     NaN     NaN  100.80   96.90   95.20   95.30

     2012    2013    2014  2015    2016    2017    2018    2019    2020  \
0   87.57   92.10   95.33   100  108.53  114.26  119.64  126.60  136.31
1   97.75   98.90   98.35   100  102.64  106.37  109.42  113.78  118.60
2   98.07   95.92   97.29   100  107.02  116.30  123.96  131.42  137.41
3  107.70  103.29  101.47   100  100.27  102.52  104.32  108.20  107.98
4   93.90   93.90   96.20   100  107.20  119.70  130.00  141.90  153.90

     2021
0  153.26
1  127.06
2  149.33
3  104.33
4  184.20

Rows before dropna: 29

In [5]:
# Alternative way - using axis=1
print("Your columns:")
print(data1.columns.tolist())
data1 = data1.drop(['2005', '2006', '2007', '2008', '2009', '2010'], axis=1)

Your columns:
['geo', 'country', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [ ]:

# Drop specific rows by index
# data1 = data1.drop(index=[0, 1, 2])  # Drops first 3 rows

# Or using axis=0
data1 = data1.drop([-1], axis=0)
# Drop rows where a condition is True
# Example: Drop rows where country is 'Austria'
data1 = data1[data1['country'] != 'United Kingdom']

# # Drop rows where geo code is 'AT'
# data1 = data1[data1['geo'] != 'AT']

# # Drop multiple countries
# countries_to_remove = ['Austria', 'Belgium', 'Bulgaria']
# data1 = data1[~data1['country'].isin(countries_to_remove)]